

.App {
    font-family: sans-serif;
    text-align: center;
    font: 95% Arial, Helvetica, sans-serif;
      max-width: 400px;
      margin: 10px auto;
      padding: 16px;
    background: #F7F7F7;
  }
  
  .App h1 {
    background: #43D1AF;
      padding: 20px 0;
      font-size: 140%;
      font-weight: 300;
      text-align: center;
      color: #fff;
      margin: -16px -16px 16px -16px;
  }
  
  .App h2 {
    background: rgb(67, 209, 150);
      padding: 20px 0;
      font-size: 140%;
      font-weight: 300;
      text-align: center;
      color: #fff;
      margin: -16px -16px 16px -16px;
  }
    